@model jbar.ViewModel.sendCityVM


@if (Model.status == 200)
{
    if (Model.lst != null)
    {
        <div class="cityParent">
            @foreach (var item in Model.lst)
            {
                <p onclick="stateClicked(this)" class="cityTitle " id="@item.userID">@item.title</p>
            }
        </div>

    }
}
