<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<!-- Mirrored from www.pirenko-themes.com/pulse-adventure/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Sep 2023 11:10:40 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/Assets/scontent/uploads/sites/20/2015/08/favaicon.ico">
    <title>Pulse Adventure Travel &#8211; Previews for Pulse by Pirenko</title>
    <meta name='robots' content='max-image-preview:large' />

    <link rel='stylesheet' id='sb_instagram_styles-css' href='/Assets/scontent/plugins/instagram-feed-pro/css/sb-instagram.min77e1.css?ver=5.6.4' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='/Assets/sincludes/css/dist/block-library/style.min9b30.css?ver=6.3.1' type='text/css' media='all' />

    <link rel='stylesheet' id='vc_font_awesome_5_shims-css' href='/Assets/scontent/plugins/js_composer/assets/lib/bower/font-awesome/css/v4-shims.mine1b2.css?ver=6.9.0' type='text/css' media='all' />
    <link rel='stylesheet' id='vc_font_awesome_5-css' href='/Assets/scontent/plugins/js_composer/assets/lib/bower/font-awesome/css/all.mine1b2.css?ver=6.9.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pulse_main_style-css' href='/Assets/scontent/themes/pulse/css/mainbafd.css?ver=1656931242' type='text/css' media='all' />
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    @*<script type='text/javascript' src='/Assets/sincludes/js/jquery/jquery.min3088.js?ver=3.7.0' id='jquery-core-js'></script>*@

    <link href="~/Content/homePageStyle.css" rel="stylesheet" />
</head>
<body class="home page-template-default page page-id-8484 pulse_theme thvers_62 wpb-js-composer js-comp-ver-6.9.0 vc_responsive">
    <div id="pulse_main_wrapper" class="pls_no_sidebar st_regular_menu st_menu_on_right st_logo_on_left prk_wait">
        <div id="prk_pint" data-media="" data-desc=""></div>
        <div id="body_hider"></div>
        <div id="pls_overlayer"></div>
        <div id="pls_loader_block" class="pls_bk_site"></div>
        <div id="pls_ajax_portfolio">
            <div id="pls_ajax_pf_inner"></div>
            <div id="pls_close_portfolio" class="prk_grid-button prk_rearrange">
                <span class="prk_grid" style=""></span>
            </div>
        </div>
        <div id="prk_main_loader" class="loader-inner ball-triangle-path">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="prk_mobile_bar" class="small-12">
            <div id="prk_mobile_bar_scroller">
                <div id="prk_mobile_bar_inner" class="pulse_left_align">
                    <div id="pls_mobile_logo" class="pulse_retina">
                        <img src="/Assets/scontent/uploads/sites/20/2015/09/whitey.png" alt="" data-width="320" width="160" height="41" />
                    </div>
                    <div class="header_stack prk_mainer">
                        <ul class="mobile-menu-ul header_font">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                <a href="index.html#">
                                    <div class="pulse_menu_label">
                                        <div class="pulse_menu_main">HOME</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                <a href="index.html#about">
                                    <div class="pulse_menu_label">
                                        <div class="pulse_menu_main">ABOUT</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                <a href="index.html#driverSection">
                                    <div class="pulse_menu_label">
                                        <div class="pulse_menu_main">EXPERTS</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                <a href="index.html#loadingSection">
                                    <div class="pulse_menu_label">
                                        <div class="pulse_menu_main">TOURS</div>
                                    </div>
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                <a href="index.html#faqs">
                                    <div class="pulse_menu_label">
                                        <div class="pulse_menu_main">FAQ&#8217;S</div>
                                    </div>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div id="pls_mobile_sidebar" class="header_stack">
                        <div id="pirenko-social-widget-5" class="widget-1 widget-first widget pirenko-social-widget header_stack">
                            <div class="widget-1 widget-first widget_inner">
                                <div class="widget-title header_font zero_color prk_heavier_600">GET CONNECTED</div>
                                <div class="clearfix"></div>
                                <div class="pirenko_social minimal">
                                    <div class="pirenko_social_inner">
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-dribbble">
                                            <a href="http://bit.ly/view_pirenko" title="Dribbble" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-dribbble fab fa-dribbble"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-facebook">
                                            <a href="http://bit.ly/view_pirenko" title="Facebook" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-facebook fab fa-facebook"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-instagram">
                                            <a href="http://bit.ly/view_pirenko" title="Instagram" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-instagram fab fa-instagram"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-pinterest">
                                            <a href="http://bit.ly/view_pirenko" title="Pinterest" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-pinterest fab fa-pinterest"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-twitter">
                                            <a href="http://bit.ly/view_pirenko" title="Twitter" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-twitter fab fa-twitter"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                        <div class="social_img_wrp pulse_socialink prk_bordered pulse-rss">
                                            <a href="http://bit.ly/view_pirenko" title="RSS Feed" target='_blank' data-color="#FFFFFF">
                                                <div class="prk_minimal_icon pulse-rss fab fa-rss"></div>
                                                <div class="bg_shifter"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="text-12" class="widget-2 widget widget_text header_stack">
                            <div class="widget-2 widget_inner">
                                <div class="textwidget">
                                    <div class="clearfix" style="margin-top:6px"></div>
                                    <span style="font-size:0.8em">Pulse - All Rights Reserved</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pulse_header_section">
            <div id="pulse_header_inner">
                <div class="small-12 columns small-centered prk_extra_pad">
                    <a id="pls_home_link" href="index.html" class="pulse_anchor">
                        <div id="pulse_logos_wrapper">
                            <div id="pulse_logo_before">
                                <img src="/Assets/scontent/uploads/sites/20/2015/09/orange-retina.png" alt="" data-width="160" width="160" height="41" />
                            </div>
                            <div id="pulse_logo_after">
                                <img src="/Assets/scontent/uploads/sites/20/2015/09/whitey.png" alt="" data-width="160" width="160" height="41" />
                            </div>
                        </div>
                    </a>
                    <div id="prk_blocks_wrapper">
                        <div class="prk_menu_block prk_bl1"></div>
                        <div class="prk_menu_block prk_bl2"></div>
                        <div class="prk_menu_block prk_bl3"></div>
                    </div>
                    <div id="pls_side_menu">
                    </div>
                    <div id="pulse_main_menu">
                        <div id="pulse_mm_inner">
                            <ul class="pulse-menu-ul sf-vertical header_font">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                    <a href="index.html#">
                                        <div class="pulse_menu_label">
                                            <div class="pulse_menu_main">HOME</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                    <a href="index.html#about">
                                        <div class="pulse_menu_label">
                                            <div class="pulse_menu_main">ABOUT</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                    <a href="index.html#driverSection">
                                        <div class="pulse_menu_label">
                                            <div class="pulse_menu_main">EXPERTS</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                    <a href="index.html#loadingSection">
                                        <div class="pulse_menu_label">
                                            <div class="pulse_menu_main">TOURS</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom active active menu-item-home">
                                    <a href="index.html#faqs">
                                        <div class="pulse_menu_label">
                                            <div class="pulse_menu_main">FAQ&#8217;S</div>
                                        </div>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pulse_header_background"></div>
        <div id="pulse_ajax_container">
            <div id="pulse_ajax_inner">
                <div id="pulse_content">
                    <div id="s_sec_wp">
                        <div id="pulse_super_sections">
                            <div id="s_sec_inner" class="row">
                                <div id="pulse-558" class="small-12 pulse_super_width wpb_row vc_row pulse_row vc_row-fluid pulse_fixed_bk forced_row bottom_forced_row plus_arrow pulse_preloaded_row" style="color:#d84f0c;background-image:url(/Assets/scontent/uploads/sites/20/2015/09/lake-shifed.jpg);">
                                    <div class="pls_outer_row" style="padding-bottom:58px;">
                                        <div class="row">
                                            <div class="vc_col-sm-12 columns vc_column_container wpb_column">
                                                <div class="wpb_wrapper">
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_bottom-to-top delay-500 h4_sized">
                                                        <div class="pulse_italic body_font zero_color prk_vc_title" style="color:#ffffff;text-shadow:0px 0px 1px rgba(255, 255, 255,0.2);margin-bottom:12px;">
                                                            <h4 style="font-weight:400;">Challenge Yourself Today &amp; Get Started</h4>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_bottom-to-top delay-800 h1_sized">
                                                        <div class="header_font zero_color prk_vc_title" style="color:#ffffff;text-shadow:0px 0px 1px rgba(255, 255, 255,0.2);">
                                                            <h1 style="font-weight:500;">Explore Our Adventures</h1>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="pulse_spacer clearfix" style="height:28px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="pulse_next_link pulse_anchor">
                                        <div class="pulse_next_arrow">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </a>
                                    <div class="pls_preloaded">
                                        <img src="/Assets/scontent/uploads/sites/20/2015/09/lake-shifed.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="about" class="wpb_row vc_row pulse_row vc_row-fluid" style="margin-bottom:90px;">
                                    <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                        <div class="pls_outer_row" style="padding-top:72px;">
                                            <div class="row">
                                                <div class="vc_col-sm-12 columns vc_column_container wpb_column">
                                                    <div class="wpb_wrapper">
                                                        <div class="theme_icon_shortcoded wpb_animate_when_almost_visible wpb_pulse_fade_waypoint" style="text-align:Center;">
                                                            <i class="mdi-image-filter-hdr" style="font-size:54px;color:#d84f0c;"></i>
                                                        </div>
                                                        <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_pulse_fade_waypoint h1_sized double_lined">
                                                            <div class="header_font zero_color prk_vc_title" style="color:#445f50;text-shadow:0px 0px 1px rgba(68, 95, 80,0.2);border-bottom-color:rgba(68, 95, 80,0.9);margin-bottom:6px;">
                                                                <h1 style="font-weight:500;">About Us</h1>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_pulse_fade_waypoint h4_sized">
                                                            <div class="pulse_italic custom_font zero_color prk_vc_title" style="margin-bottom:48px;">
                                                                <h4 style="font-weight:100;">We Are Known For Efficiency &amp; Readiness</h4>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div id="pulse-806" class="wpb_row vc_inner vc_row pulse_row vc_row-fluid">
                                                            <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                                                <div class="pls_outer_row">
                                                                    <div class="row">
                                                                        <div class="vc_col-sm-6 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">

                                                                                <div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_left-to-right left-to-right pls_drop_cap">
                                                                                    <div class="wpb_wrapper">
                                                                                        <p>The three men at her mast-head wore long streamers of narrow red bunting at their hats; from the stern, a whale-boat was suspended, bottom down; and hanging captive from the bowsprit was seen the long lower jaw of the last whale.</p>
                                                                                        <p>
                                                                                            <strong>Signals, ensigns, and jacks</strong> of all colours were flying from her rigging, on every side. Sideways lashed in each of her three basketed tops were two barrels of sperm; above which, in her top-mast cross-trees, you saw slender breakers of the same precious fluid; and nailed to her main truck was a brazen lamp.
                                                                                        </p>
                                                                                        <p>
                                                                                            As was afterwards learned, the
                                                                                            <em>Bachelor</em> had met with the most surprising success; all the more wonderful, for that while cruising in the same seas numerous other vessels had gone entire months without securing a single fish. Not only had barrels of beef and bread been given away to make room for the far more valuable sperm, but additional
                                                                                            <strong>supplemental casks</strong> had been bartered for, from the ships she had met; and these were stowed along the deck, and in the captain&#8217;s and officers&#8217; state-rooms.
                                                                                        </p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_col-sm-6 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">

                                                                                <div class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_right-to-left right-to-left">
                                                                                    <div class="wpb_wrapper">
                                                                                        <p>
                                                                                            In the forecastle, the sailors had actually caulked and pitched their chests, and filled them; it was humorously added, that the cook had clapped a head on his
                                                                                            <em>largest boiler</em>, and filled it; that the steward had plugged his spare coffee-pot and filled it.
                                                                                        </p>
                                                                                        <p>
                                                                                            The harpooneers had headed the sockets of their irons and filled them; that indeed everything was filled with sperm, except the captain&#8217;s pantaloons pockets, and those he reserved to thrust his hands into, in self-complacent testimony of his entire satisfaction.As this glad ship of good luck bore down upon the moody Pequod, the
                                                                                            <strong>Barbarian Sound</strong> of enormous drums came from her forecastle.
                                                                                        </p>
                                                                                        <p>
                                                                                            Drawing still nearer,
                                                                                            <strong>a crowd of men were seen standing</strong> round her huge try-pots, which, covered her with the parchment-like POKE or stomach skin of the black fish, gave forth a loud roar to every stroke of the clenched hands of the crew. On the quarter-deck, the mates and harpooneers were dancing with the olive-hued girls who had eloped with them from the Polynesian Isles.
                                                                                        </p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="pulse_spacer clearfix" style="height:18px;"></div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="driverSection" class="small-12 pulse_super_width wpb_row vc_row pulse_row vc_row-fluid" style="background-color:#eff1f0;">
                                    <div class="pls_outer_row">
                                        <div class="row">
                                            <div class="vc_col-sm-6 columns vc_column_container wpb_column pulse_hz_left pulse_forced_clm pulse_vertical_clm" style="background-image:url(/Assets/scontent/uploads/sites/20/2015/09/hicker.jpg);">
                                                <div class="wpb_wrapper">

                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="vc_col-sm-6 columns vc_column_container wpb_column pulse_center_align">
                                                <div class="wpb_wrapper" style="padding-left:15%;padding-right:15%;margin-left:auto;margin-right:auto;">
                                                    <div class="pulse_spacer clearfix" style="height:158px;"></div>
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align h2_sized">
                                                        <div class="header_font zero_color prk_vc_title" style="color:#d84f0c;text-shadow:0px 0px 1px rgba(216, 79, 12,0.2);margin-bottom:8px;">
                                                            <h2 style="font-weight:500;">Living On The Edge</h2>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align h5_sized">
                                                        <div class="pulse_italic custom_font zero_color prk_vc_title" style="margin-bottom:24px;">
                                                            <h5 style="font-weight:400;">Get Ready For An Awesome Day</h5>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="simple_line shortcoded" style="border-bottom-color:#b1bcb7;width:52px;border-bottom-width:4px;margin-left:auto;margin-right:auto;"></div>
                                                    <div class="pulse_spacer clearfix" style="height:22px;"></div>
                                                    <div class="wpb_text_column wpb_content_element prk_9_em">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;">Forgetful of us, our guards joined in the general rush for the exits, many of which pierced the wall of the amphitheater behind us. Perry, Ghak, and I became separated in the chaos which reigned for a few moments after the beast cleared the wall of the arena, each intent upon saving his own hide.</p>

                                                        </div>
                                                    </div>
                                                    <div class="pulse_spacer clearfix" style="height:14px;"></div>
                                                    <div class="theme_button prk_medium pls_shortcoded">
                                                        <a id="gotodriver" href="#"  class="pulse_anchor">JUMP IN →</a>
                                                    </div>
                                                    <div class="pulse_spacer clearfix" style="height:144px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="loadingSection" class="small-12 pulse_super_width wpb_row vc_row pulse_row vc_row-fluid" style="background-color:#eff1f0;">
                                    <div class="pls_outer_row">
                                        <div class="row">
                                            <div class="vc_col-sm-6 columns vc_column_container wpb_column pulse_center_align">
                                                <div class="wpb_wrapper" style="padding-left:15%;padding-right:15%;margin-left:auto;margin-right:auto;">
                                                    <div class="pulse_spacer clearfix" style="height:158px;"></div>
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align h2_sized">
                                                        <div class="header_font zero_color prk_vc_title" style="color:#d84f0c;text-shadow:0px 0px 1px rgba(216, 79, 12,0.2);margin-bottom:8px;">
                                                            <h2 style="font-weight:500;">Finding Your Rythm</h2>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="prk_shortcode-title prk_break_word pulse_center_align h5_sized">
                                                        <div class="pulse_italic custom_font zero_color prk_vc_title" style="margin-bottom:24px;">
                                                            <h5 style="font-weight:400;">Our Team Will Assist You</h5>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="simple_line shortcoded" style="border-bottom-color:#b1bcb7;width:52px;border-bottom-width:4px;margin-left:auto;margin-right:auto;"></div>
                                                    <div class="pulse_spacer clearfix" style="height:22px;"></div>
                                                    <div class="wpb_text_column wpb_content_element prk_9_em">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: center;">Forgetful of us, our guards joined in the general rush for the exits, many of which pierced the wall of the amphitheater behind us. Perry, Ghak, and I became separated in the chaos which reigned for a few moments after the beast cleared the wall of the arena, each intent upon saving his own hide.</p>

                                                        </div>
                                                    </div>
                                                    <div class="pulse_spacer clearfix" style="height:14px;"></div>
                                                    <div class="theme_button prk_medium pls_shortcoded">
                                                        <a id="gotoOwner" href="#" target="_self" class="pulse_anchor">GET IN TOUCH →</a>
                                                    </div>
                                                    <div class="pulse_spacer clearfix" style="height:144px;"></div>
                                                </div>
                                            </div>

                                            <div class="vc_col-sm-6 columns vc_column_container wpb_column pulse_hz_right pulse_forced_clm pulse_vertical_clm" style="background-image:url(/Assets/scontent/uploads/sites/20/2015/06/explorer.jpg);">
                                                <div class="wpb_wrapper">

                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p></p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="pulse-638" class="wpb_row  pulse_retina vc_row pulse_row vc_row-fluid pulse_cover_top" style="color:#ffffff;background-image:url(/Assets/scontent/uploads/sites/20/2015/09/myth.jpg);">
                                    <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                        <div class="pls_outer_row" style="padding-top:126px;padding-bottom:126px;">
                                            <div class="row">
                                                <div class="vc_col-sm-12 columns vc_column_container wpb_column">
                                                    <div class="wpb_wrapper">
                                                        <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_pulse_fade_waypoint h3_sized">
                                                            <div class="simple_line colored above thicker columns small-centered forced_mobile" style="border-bottom-color:#d84f0c;width:70px;"></div>
                                                            <div class="header_font zero_color prk_vc_title" style="color:#ffffff;text-shadow:0px 0px 1px rgba(255, 255, 255,0.2);margin-bottom:8px;">
                                                                <h3 style="font-weight:500;">LATEST ACHIEVMENTS</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="wpb_text_column wpb_content_element small-10 small-centered columns wpb_animate_when_almost_visible wpb_pulse_fade_waypoint pulse_fade_waypoint">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: center;">
                                                                    The leading matter of it requires to be still further and more familiarly enlarged upon.
                                                                    <br />
                                                                    Moreover to take away any incredulity which a profound expertise.
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <div class="pulse_spacer clearfix" style="height:54px;"></div>
                                                        <div id="pulse-887" class="wpb_row vc_inner vc_row pulse_row vc_row-fluid">
                                                            <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                                                <div class="pls_outer_row">
                                                                    <div class="row">
                                                                        <div class="vc_col-sm-3 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="prk_counter_wrapper prk_counter_center">
                                                                                    <i class="mdi-bike colored_link_icon"></i>
                                                                                    <div class="clearfix"></div>
                                                                                    <div id="pulse_counter_555" class="header_font pulse_counter" data-prefix="" data-suffix="" data-thousands="" data-origin="0" data-counter="2345" data-duration="3000">&nbsp;</div>
                                                                                    <div class="pulse_counter_desc header_font">MILES RAN</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_col-sm-3 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="prk_counter_wrapper prk_counter_center">
                                                                                    <i class="mdi-flower colored_link_icon"></i>
                                                                                    <div class="clearfix"></div>
                                                                                    <div id="pulse_counter_578" class="header_font pulse_counter" data-prefix="" data-suffix="" data-thousands="" data-origin="0" data-counter="1168" data-duration="3000">&nbsp;</div>
                                                                                    <div class="pulse_counter_desc header_font">NEW SPECIES</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_col-sm-3 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="prk_counter_wrapper prk_counter_center">
                                                                                    <i class="mdi-heart colored_link_icon"></i>
                                                                                    <div class="clearfix"></div>
                                                                                    <div id="pulse_counter_782" class="header_font pulse_counter" data-prefix="" data-suffix="" data-thousands="" data-origin="0" data-counter="5892" data-duration="3000">&nbsp;</div>
                                                                                    <div class="pulse_counter_desc header_font">BIG HEARBEATS</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_col-sm-3 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">
                                                                                <div class="prk_counter_wrapper prk_counter_center">
                                                                                    <i class="mdi-thumb-up colored_link_icon"></i>
                                                                                    <div class="clearfix"></div>
                                                                                    <div id="pulse_counter_525" class="header_font pulse_counter" data-prefix="" data-suffix="" data-thousands="" data-origin="0" data-counter="1459" data-duration="3000">&nbsp;</div>
                                                                                    <div class="pulse_counter_desc header_font">FACEBOOK FANS</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div id="contact" class="wpb_row vc_row pulse_row vc_row-fluid pulse_fixed_bk" style="color:#ffffff;background-image:url(/Assets/scontent/uploads/sites/20/2015/09/contact-bridge.jpg);">
                                    <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                        <div class="pls_outer_row" style="padding-top:90px;padding-bottom:52px;">
                                            <div class="row">
                                                <div class="vc_col-sm-12 columns vc_column_container wpb_column">
                                                    <div class="wpb_wrapper">
                                                        <div class="prk_shortcode-title prk_break_word pulse_center_align wpb_animate_when_almost_visible wpb_pulse_fade_waypoint h3_sized">
                                                            <div class="simple_line colored above thicker columns small-centered forced_mobile" style="border-bottom-color:#d84f0c;width:70px;"></div>
                                                            <div class="header_font zero_color prk_vc_title" style="color:#ffffff;text-shadow:0px 0px 1px rgba(255, 255, 255,0.2);margin-bottom:8px;">
                                                                <h3 style="font-weight:500;">CONTACT INFORMATION</h3>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="wpb_text_column wpb_content_element small-10 columns small-centered wpb_animate_when_almost_visible wpb_pulse_fade_waypoint pulse_fade_waypoint">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: center;">
                                                                    I care not to perform this part of my task methodically. But shall be content to produce the desired impression.
                                                                    <br />
                                                                    From these citations, I take it and dash the conclusion aimed at will naturally follow of itself.
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <div class="pulse_spacer clearfix" style="height:36px;"></div>
                                                      <div class="clearfix"></div>
                                                        <div class="pulse_spacer clearfix" style="height:48px;"></div>
                                                        <div class="simple_line shortcoded" style="border-bottom-color:#ffffff;border-bottom-width:#;"></div>
                                                        <div class="pulse_spacer clearfix" style="height:12px;"></div>
                                                        <div id="pulse-871" class="wpb_row vc_inner vc_row pulse_row vc_row-fluid">
                                                            <div class="extra_pad prk_inner_block columns small-centered clearfix">
                                                                <div class="pls_outer_row">
                                                                    <div class="row">
                                                                        <div class="vc_col-sm-6 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">

                                                                                <div class="wpb_text_column wpb_content_element prk_75_em">
                                                                                    <div class="wpb_wrapper">
                                                                                        <p>
                                                                                            Follow us on: 
                                                                                            <a href="http://www.twitter.com/Pirenko" target="_blank" rel="noopener noreferrer">Twitter</a> | 
                                                                                            <a href="http://www.facebook.com/Pirenko" target="_blank" rel="noopener noreferrer">Facebook</a> | 
                                                                                            <a href="https://www.youtube.com/user/PirenkoThemes/playlists" target="_blank" rel="noopener noreferrer">YouTube</a>
                                                                                        </p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_col-sm-6 columns vc_column_container wpb_column">
                                                                            <div class="wpb_wrapper">

                                                                                <div class="wpb_text_column wpb_content_element prk_75_em">
                                                                                    <div class="wpb_wrapper">
                                                                                        <p style="text-align: right;">
                                                                                            Proudly Developed By
                                                                                            <a href="http://bit.ly/view_pirenko" target="_blank" rel="noopener noreferrer">Pirenko</a>.
                                                                                        </p>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- #pulse_ajax_container -->
        <div id="pulse_to_top" class="prk_radius">
            <div id="arrows_shifter">
                <i class="fa fa-angle-up"></i>
                <i class="fa fa-angle-up second"></i>
            </div>
        </div>
        <!--googleoff: all-->
        <div id="pls_ajax_meta">
            <div id="pls_ajax_title">Pulse Adventure Travel | Previews for Pulse by Pirenko</div>
            <div id="pls_ajax_classes" class="home page-template-default page page-id-8484 pulse_theme thvers_62 wpb-js-composer js-comp-ver-6.9.0 vc_responsive"></div>
        </div>
        <!--googleon: all-->
    </div><!-- #pulse_main_wrapper -->
    <!-- Custom Feeds for Instagram JS -->
    <script type='text/javascript' id='pulse_main-js-extra'>
        /* <![CDATA[ */
        var ajax_var = { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\/wp-admin\/admin-ajax.php", "nonce": "fcfa2bc74a" };
        var theme_options = { "last_tab": "0", "pulse_responsive": "1", "pulse_detect_retina": "1", "show_sooner": "", "custom_width": "1280", "ajax_calls": "1", "smooth_scroll": "0", "font_size": "15", "header_font": "Dosis:300,400,500,600,700", "uppercase_headings": "0", "body_font": "Lora:400,700,400italic", "custom_font": "", "custom_font_style": "italic", "titles_font": "header_font", "main_subheadings_font": "body_font", "subheadings_style": "italic", "headings_align": "pulse_center_align", "drop_caps_size": "52", "use_custom_colors": "1", "site_background_color": "#ffffff", "active_color": "#d84f0c", "bd_headings_color": "#374e41", "bd_smallers_color": "#4c7c6c", "inactive_color": "#6c7772", "thumbs_text_color_blog": "#ffffff", "background_color_btns_blog": "#4c6658", "custom_opacity": "60", "thumbs_text_color": "#ffffff", "background_color_btns": "#4c6658", "custom_opacity_folio": "35", "lines_color": "#E7EEF0", "background_color": "#ffffff", "inputs_bordercolor": "#E7EEF0", "buttons_font": "headings_f", "uppercase_buttons": "1", "buttons_border": "1", "buttons_radius": "0", "buttons_text_color": "#FFFFFF", "theme_buttons_color": "#445f50", "buttons_inner_shadow": "0", "slider_text_color": "#FFFFFF", "buttons_color": "#445f50", "back_to_top_bk": "#d84f0c", "back_to_top_color": "#FFFFFF", "filters_bk_color": "#F0F0F0", "preloader_style": "theme_circles", "preloader_color": "#d84f0c", "preloader_image": { "url": "", "id": "", "height": "", "width": "", "thumbnail": "" }, "preloader_image_retina": { "url": "", "id": "", "height": "", "width": "", "thumbnail": "" }, "background_color_dots": "#FFFFFF", "featured_header_color": "#ffffff", "bk_color_sidebar_overlay": "#111111", "right_sidebar": "1", "logo_align": "st_logo_on_left", "logo": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/orange.png", "id": "8627", "height": "41", "width": "160", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/orange-150x150.png" }, "logo_retina": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/orange-retina.png", "id": "8628", "height": "82", "width": "320", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/orange-retina-150x150.png" }, "logo_top_margin": "39", "logo_collapsed": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/05\/pls-white.png", "id": "103", "height": "41", "width": "160", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/05\/pls-white-150x150.png" }, "logo_collapsed_retina": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/whitey.png", "id": "8629", "height": "82", "width": "320", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/09\/whitey-150x150.png" }, "logo_collapsed_top_margin": "16", "favicon": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/08\/favaicon.ico", "id": "8023", "height": "", "width": "", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/08\/favaicon.ico" }, "top_bar_limited_width": "0", "resp_break": "900", "menu_vertical": "120", "background_color_menu_bar": "#445f50", "border_menu_bar": "#385142", "header_default_opacity": "0", "menu_align": "st_menu_on_right", "menu_display": "st_regular_menu", "menu_hide_flag": "0", "menu_hide_pixels": "160", "bk_color_menu_overlay": "#333038", "opacity_menu_overlay": "97", "active_color_menu_overlay": "#000000", "color_menu_overlay": "#000000", "overlay_align": "pulse_center_align", "overlay_page_id": "", "overlay_footer_text": "", "menu_padding": "14", "menu_font": "header_font", "menu_font_size": "16", "menu_parent_style": "normal", "menu_font_weight": "600", "labels_offset": "0", "menu_active_color": "#d84f0c", "menu_up_color": "#FFFFFF", "active_subheadings": "0", "menu_subheadings_style": "italic", "subheadings_font_weight": "400", "subheadings_color": "#a8a8a8", "subheadings_font_size": "10", "subheadings_offset": "36", "subheadings_font": "custom_font", "submenu_font_size": "12", "submenu_font_weight": "400", "menu_sub_padding": "36", "submenu_active_color": "#d84f0c", "submenu_text_color": "#FFFFFF", "submenu_lines_color": "#272930", "submenu_background_color": "#212427", "menu_collapse_flag": "1", "menu_collapse_pixels": "500", "collapsed_menu_vertical": "72", "header_opacity_after": "95", "menu_active_color_after": "#d84f0c", "menu_up_color_after": "#FFFFFF", "network_icon_1": "", "network_link_1": "", "network_icon_2": "", "network_link_2": "", "network_icon_3": "", "network_link_3": "", "network_icon_4": "", "network_link_4": "", "network_icon_5": "", "network_link_5": "", "network_icon_6": "", "network_link_6": "", "nets_offset": "-14", "top_search": "0", "append_mobile_logo": "mobile_logo_aft", "right_bar_align": "pulse_left_align", "background_image_right_bar": { "url": "", "id": "", "height": "", "width": "", "thumbnail": "" }, "background_color_right_bar": "#111111", "active_color_right_bar": "#ffffff", "body_color_right_bar": "#969696", "opacity_mobile_overlay": "75", "show_hidden_sidebar": "0", "sidebar_position": "st_sidebar_on_right", "sidebar_width": "380", "sidebar_align": "pulse_center_align", "background_image_sidebar": { "url": "", "id": "", "height": "", "width": "", "thumbnail": "" }, "background_color_sidebar": "#C0C0C0", "active_color_sidebar": "#ffffff", "body_color_sidebar": "#afafaf", "sidebar_footer_id": "", "opacity_sidebar_overlay": "25", "use_footer": "0", "footer_reveal": "0", "footer_font_size": "13", "titles_color_footer": "#ffffff", "body_color_footer": "#8C9499", "footer_border_color": "", "background_color_footer": "#2B2F32", "bk_image_footer": { "url": "", "id": "", "height": "", "width": "", "thumbnail": "" }, "footer_image_align": "center", "bottom_page": "0", "bottom_page_id": "", "bottom_page_after": "0", "bottom_page_after_id": "", "bottom_sidebar": "1", "widgets_nr": "small-3", "footer_text": "", "footer_text_extra": "", "footer_text_background_color": "#212427", "custom_width_blog": "1080", "header_align_blog": "bottomed_content", "archives_type": "classic", "autoplay_blog": "1", "delay_blog": "6500", "uppercase_blog_headings": "1", "show_date_blog": "1", "postedby_blog": "1", "categoriesby_blog": "1", "show_blog_nav": "1", "related_posts": "1", "related_author": "1", "share_blog": "1", "share_blog_fb": "1", "share_blog_goo": "1", "share_blog_pin": "1", "share_blog_twt": "1", "archives_ptype": "grid", "portfolio_layout": "", "autoplay_portfolio": "1", "delay_portfolio": "6500", "uppercase_folio_headings": "0", "dateby_port": "0", "categoriesby_port": "1", "show_port_nav": "0", "related_port": "1", "active_color_overlayer": "#d84f0c", "headings_color_overlayer": "#374e41", "smallers_color_overlayer": "#4c7c6c", "body_color_overlayer": "#6c7772", "lines_color_overlayer": "#dedede", "background_color_overlayer": "#FFFFFF", "overlayer_opacity": "100", "share_portfolio": "1", "share_portfolio_fb": "1", "share_portfolio_goo": "1", "share_portfolio_pin": "1", "share_portfolio_twt": "1", "search_image": { "url": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/07\/globe-shop.jpg", "id": "7410", "height": "800", "width": "1920", "thumbnail": "https:\/\/www.pirenko-themes.com\/pulse-adventure\//Assets/scontent\/uploads\/sites\/20\/2015\/07\/globe-shop-150x150.jpg" }, "search_layout": "classic", "search_right_sidebar": "1", "theme_translation": "0", "theme_divider": "-", "search_tip_text": "Search this website...", "submit_search_res_title": "Search Results for", "submit_search_no_results": "No Results Found for", "previous_text": "Previous", "next_text": "Next", "required_text": " (required)", "profile_text": "View Profile", "in_touch_text": "Get In touch", "404_title_text": "Page not found", "404_body_text": "We do not know how you ended up here, but please could you try again by selecting an option on the menu?", "read_more": "Read More", "sticky_text": "Sticky Post", "min_read_text": "MIN READ", "posted_by_text": "Posted by", "on_text": "on", "about_author_text": "About", "older": "Older posts", "newer": "Newer posts", "related_posts_text": "Related News", "related_posts_teaser_text": "Other posts that you should not miss.", "older_single": "\u2190 PREVIOUS POST", "newer_single": "NEXT POST \u2192", "all_the_posts": "All the posts published.", "prj_desc_text": "About this project", "date_text": "Date", "client_text": "Client", "extra_fld1": "My Custom Field 1", "extra_fld2": "My Custom Field 2", "extra_fld3": "My Custom Field 3", "skills_text": "Skills", "tags_text": "Tags", "project_text": "Project URL", "launch_text": "Launch Project", "all_text": "All", "load_more": "LOAD MORE POSTS", "no_more": "NO MORE POSTS TO SHOW", "related_prj_text": "Related Packages", "related_prj_teaser_text": "Let's do something awesome. Again.", "prj_prev_text": "PREVIOUS PROJECT", "prj_next_text": "NEXT PROJECT", "all_the_portfolios": "All the work completed.", "comments_label": "Comments", "comments_no_response": "No comments", "comments_one_response": "1 Comment", "comments_oneplus_response": "Comments", "reply_text": "Reply", "comments_leave_reply": "Leave a Comment", "comments_under_reply": "Your feedback is valuable for us. Your email will not be published.", "comments_author_text": "Name", "comments_email_text": "Email", "comments_url_text": "Website", "comments_comment_text": "Your comment", "comments_submit": "Submit Comment", "empty_text_error": "Error! This field is required.", "invalid_email_error": "Error! Invalid email.", "comment_ok_message": "Thank you for your feedback!", "contact_subject_text": "Subject", "contact_message_text": "Your message", "contact_submit": "Send Message", "contact_error_text": "Error! This field is required.", "contact_error_email_text": "Error! This email is not valid.", "contact_wait_text": "Please wait...", "contact_ok_text": "Thank you for contacting us. We will reply soon!", "css_text": ".vc_sep_pos_align_center h4 {color: #445f50 !important;}\r\n#pls_greyer {background-color:#c3c3c3;}\r\n.page-id-701 .prk_heavier_500 h1,\r\n.page-id-2218 .prk_heavier_500 h1,\r\n.page-id-2654 .prk_heavier_500 h1,\r\n.page-id-7602 .prk_heavier_500 h1 {font-weight:600 !important;}\r\n.page-id-176 .tm_stars,\r\n.page-id-701 .tm_stars {display:none;}", "js_text": "                                    ", "portfolio_slug": "portfolios", "skills_slug": "skills", "folio_tags_slug": "tagged", "slides_slug": "slides", "groups_slug": "group", "members_slug": "member", "team_slug": "team", "testimonials_slug": "testimonials", "testimonials_groups_slug": "testimonials_group", "pulse_light_vc": "1", "pattern": "", "pattern_footer": "", "menu_on_mobile": "1", "css_enable": "0", "minread_blog": "1", "google_maps_key": "", "search_help_1": "Sorry, but it seems that there are no results... Maybe you can try again?", "search_help_2": "Still looking for something else?", "search_help_3": "Double check your spelling", "search_help_4": "Try using single words (e.g. painting, book)", "search_help_5": "Try searching for something that is less specific", "port_nav_logic": "1", "port_resp_order": "0", "REDUX_last_saved": "1597310090", "REDUX_LAST_SAVE": "1597310090", "REDUX_COMPILER": "1483047075", "REDUX_LAST_COMPILER": "1483047075", "active_visual_composer": "1", "active_skin": "" };
            /* ]]> */
    </script>
    <script type='text/javascript' src='/Assets/scontent/themes/pulse/js/main-mine1fd.js?ver=1656931252' id='pulse_main-js'></script>
    <script type='text/javascript' src='/Assets/scontent/themes/pulse/js/other-min6f44.js?ver=1656931256' id='pulse_other-js'></script>
    <script type='text/javascript' src='/Assets/scontent/plugins/js_composer/assets/lib/vc_waypoints/vc-waypoints.mine1b2.js?ver=6.9.0' id='vc_waypoints-js'></script>
    <script>
        $("#gotodriver").click(function () {
            
            window.location.href = "/driver";
        })
        $("#gotoOwner").click(function () {

            window.location.href = "/loadowner";
        })
    </script>
</body>

<!-- Mirrored from www.pirenko-themes.com/pulse-adventure/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 29 Sep 2023 11:11:04 GMT -->
</html>