<!DOCTYPE html>
<html lang="fa" dir="rtl">

<!-- Mirrored from parspack.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Nov 2023 07:25:23 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180"
          href="/Assets/wp-content/themes/parspack/template/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="~/Assets_panel/img/brand/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16"
          href="~/Assets_panel/img/brand/favicon.ico">
    <link rel="manifest" href="/Assets/wp-content/themes/parspack/template/images/favicons/manifest.json">
    <link rel="mask-icon" href="/Assets/wp-content/themes/parspack/template/images/favicons/safari-pinned-tab.svg"
          color="#5bbad5">
    <link rel="shortcut icon" href="~/Assets_panel/img/brand/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage"
          content="/Assets/wp-content/themes/parspack/template/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/Assets/wp-content/themes/parspack/template/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title"
          content="جی بار | بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند باربری‌ها، رانندگان و کارخانجات">


    <!-- بهینه‌سازی موتور جستجو توسط Rank Math PRO - https://rankmath.com/ -->
    <title>جی بار | بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند باربری‌ها، رانندگان و کارخانجات</title>
    <meta name="description"
          content="جی بار، اتصال هوشمند باربری‌ها به رانندگان | باربری‌ها و صاحبان بار در جاده بار خود را اعلام میکنند و رانندگان بارهای اعلام شده را بر اساس نیاز خود حمل میکنند" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title"
          content="جی بار | بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند باربری‌ها، رانندگان و کارخانجات" />
    <meta property="og:description"
          content="جی بار، اتصال هوشمند باربری‌ها به رانندگان | باربری‌ها و صاحبان بار در جاده بار خود را اعلام میکنند و رانندگان بارهای اعلام شده را بر اساس نیاز خود حمل میکنند" />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="جی بار" />
    <meta property="og:updated_time" content="2023-10-14T21:51:21+03:30" />
    <meta property="og:image" content="/Assets/wp-content/uploads/2023/08/parspack-logo-social100-1024x538.png" />
    <meta property="og:image:secure_url" content="/Assets/wp-content/uploads/2023/08/parspack-logo-social100-1024x538.png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="538" />
    <meta property="og:image:alt" content="جی بار" />
    <meta property="og:image:type" content="image/png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title"
          content="جی بار | بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند باربری‌ها، رانندگان و کارخانجات" />
    <meta name="twitter:description"
          content="جی بار، اتصال هوشمند باربری‌ها به رانندگان | باربری‌ها و صاحبان بار در جاده بار خود را اعلام میکنند و رانندگان بارهای اعلام شده را بر اساس نیاز خود حمل میکنن" />
    <meta name="twitter:image" content="/Assets/wp-content/uploads/2023/08/parspack-logo-social100-1024x538.png" />
    <meta name="twitter:label1" content="نویسنده" />
    <meta name="twitter:data1" content="مدیر" />
    <meta name="twitter:label2" content="زمان خواندن" />
    <meta name="twitter:data2" content="کمتر از یک دقیقه" />
    <!-- /افزونه سئو ورپرس Rank Math -->

    <style id='parspack-parspack-parent-container-style-inline-css' type='text/css'>
               /*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
         !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./includes/block-editor/blocks/parspack-parent-container/style.scss ***!
         \******************************************************************************************************************************************************************************************************************************************************************************************/
               /**
        * The following styles get applied both on the front of your site
        * and in the editor.
        *
        * Replace them with your own styles or remove the file completely.
        */
               .section.img-obj-fit__unset img {
                   -o-object-fit: unset;
                   object-fit: unset;
               }

               .section.img-obj-fit__contain img {
                   -o-object-fit: contain;
                   object-fit: contain;
               }

               .section.img-obj-fit__cover img {
                   -o-object-fit: cover;
                   object-fit: cover;
               }

               .section.img-obj-fit__fill img {
                   -o-object-fit: fill;
                   object-fit: fill;
               }

               .section.img-obj-fit__inherit img {
                   -o-object-fit: inherit;
                   object-fit: inherit;
               }

               .section.img-obj-fit__initial img {
                   -o-object-fit: initial;
                   object-fit: initial;
               }

               .section.img-obj-fit__none img {
                   -o-object-fit: none;
                   object-fit: none;
               }

               .section.img-obj-fit__revert img {
                   -o-object-fit: revert;
                   object-fit: revert;
               }

               .section.img-obj-fit__scale-down img {
                   -o-object-fit: scale-down;
                   object-fit: scale-down;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts {
                   display: flex;
                   max-width: 76.25rem;
                   justify-content: center;
               }

               @@media only screen and (max-width: 801px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts {
                       flex-wrap: wrap;
                   }
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li {
                   position: relative;
                   width: 33.33333%;
                   margin: 0 20px;
                   margin-bottom: 40px;
                   border-radius: 3px;
                   box-shadow: 0 7px 20px 0 #f2f2f2 !important;
                   overflow: hidden;
                   display: flex;
                   flex-direction: column;
                   position: relative;
               }

               @@media only screen and (max-width: 801px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li {
                       width: 50%;
                   }
               }

               @@media only screen and (max-width: 501px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li {
                       width: 100%;
                   }
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li:hover .wp-block-latest-posts__post-excerpt {
                   border-bottom: 1px solid #fff;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li:hover .wp-block-latest-posts__post-title {
                   color: #288ed9 !important;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li:hover .wp-block-latest-posts__post-link-custom-display {
                   pointer-events: all;
                   opacity: 1;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__featured-image {
                   min-height: 14.375rem;
                   position: relative;
                   overflow: hidden;
               }

                   .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__featured-image img {
                       position: absolute;
                       left: 50%;
                       transform: translateX(-50%);
                       width: inherit;
                       min-height: 100%;
                       min-width: 100%;
                       top: 0;
                       border-color: inherit !important;
                       box-shadow: none;
                       height: inherit !important;
                       max-width: inherit !important;
                       border: inherit !important;
                   }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-title {
                   padding: 0.9375rem 1.25rem;
                   color: gray !important;
                   line-height: 1.9375rem;
                   min-height: 3.875rem;
                   transition: color 0.2s ease-in-out;
                   box-shadow: none;
                   text-decoration: none;
                   flex: 1;
                   font-size: 16px;
                   font-weight: 400;
                   font-style: normal;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-excerpt {
                   margin: 0 1.25rem;
                   text-align: justify;
                   color: #999;
                   font-size: 0.875rem;
                   padding-bottom: 0.9375rem;
                   border-bottom: 1px solid #e6e6e6;
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li:after {
                   content: "";
                   height: 68px;
                   display: block;
               }

               @@media only screen and (max-width: 801px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li:after {
                       height: 86px;
                   }
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-date {
                   position: absolute;
                   bottom: 0;
                   right: 1.25rem;
                   margin: 1.5rem 1.25rem;
                   font-size: 0.75rem;
               }

               @@media only screen and (max-width: 801px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-date {
                       bottom: 37px;
                       pointer-events: all;
                       opacity: 1;
                       left: 0;
                       right: 0;
                       width: unset;
                   }
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-link-custom-display {
                   font-size: 16px;
                   font-weight: 400;
                   font-style: normal;
                   position: absolute;
                   margin: 1.5rem 0;
                   text-align: center;
                   background-color: #fff;
                   color: #288ed9;
                   transition: opacity 0.2s ease-in-out;
                   width: 100%;
                   opacity: 0;
                   pointer-events: none;
                   bottom: 0;
               }

               @@media only screen and (max-width: 801px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-link-custom-display {
                       pointer-events: all;
                       opacity: 1;
                       left: 0;
                       right: 0;
                       width: unset;
                       background-color: unset;
                   }
               }

               @@media only screen and (max-width: 501px) {
                   .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-link-custom-display {
                       font-size: 14px;
                   }
               }

               .section .wp-block-latest-posts__list.wp-block-latest-posts li .wp-block-latest-posts__post-link-custom-display a {
                   color: #fff;
                   background-color: #288ed9;
                   font-size: 1rem;
                   height: 2.375rem;
                   line-height: 2.25rem;
                   padding: 0 0.625rem;
                   font-family: IranYekanBold, tahoma, arial;
                   display: inline-flex;
                   vertical-align: middle;
                   position: relative;
                   justify-content: center;
                   align-items: center;
                   border-radius: 1.5rem;
                   white-space: nowrap;
                   border: 1px solid transparent;
                   min-width: 7.5rem;
                   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
               }

               /*# sourceMappingURL=style-parspack-parent-container.css.map*/
    </style>
    <style id='parspack-parspack-parent-container-services-type-style-inline-css' type='text/css'>
        /*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
         !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./includes/block-editor/blocks/parspack-parent-container-services-type/style.scss ***!
         \********************************************************************************************************************************************************************************************************************************************************************************************************/
        /**
        * The following styles get applied both on the front of your site
        * and in the editor.
        *
        * Replace them with your own styles or remove the file completely.
        */
        .wp-block-parspack-multiplae-parspack-stage {
            background-color: #21759b;
            color: #fff;
            padding: 2px;
        }

        /*# sourceMappingURL=style-parspack-parent-container-services-type.css.map*/
    </style>
    <style id='parspack-parspack-child-services-type-style-inline-css' type='text/css'>
        /*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
         !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./includes/block-editor/blocks/parspack-child-services-type/style.scss ***!
         \*********************************************************************************************************************************************************************************************************************************************************************************************/
        /**
        * The following styles get applied both on the front of your site
        * and in the editor.
        *
        * Replace them with your own styles or remove the file completely.
        */
        .wp-block-parspack-multiplae-parspack-stage {
            background-color: #21759b;
            color: #fff;
            padding: 2px;
        }

        .change-defu-pas-one {
            margin-bottom: 28px !important;
        }

        /*# sourceMappingURL=style-parspack-child-services-type.css.map*/
    </style>
    <style id='parspack-parspack-header-section-style-inline-css' type='text/css'>
        /*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
         !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./includes/block-editor/blocks/parspack-header-section/editor.scss ***!
         \*****************************************************************************************************************************************************************************************************************************************************************************************/
        /**
        * The following styles get applied inside the editor only.
        *
        * Replace them with your own styles or remove the file completely.
        */
        .wp-block-parspack-multiplae-parspack-stage {
            border: 1px dotted #f00;
        }

        /*# sourceMappingURL=parspack-header-section.css.map*/
    </style>
    <style id='parspack-parspack-multi-button-style-inline-css' type='text/css'>
        /*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
         !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./includes/block-editor/blocks/parspack-multi-button/editor.scss ***!
         \***************************************************************************************************************************************************************************************************************************************************************************************/
        /**
        * The following styles get applied inside the editor only.
        *
        * Replace them with your own styles or remove the file completely.
        */
        .wp-block-parspack-multiplae-parspack-stage {
            border: 1px dotted #f00;
        }

        /*# sourceMappingURL=parspack-multi-button.css.map*/
    </style>
    <style id='classic-theme-styles-inline-css' type='text/css'>
        /*! This file is auto-generated */
        .wp-block-button__link {
            color: #fff;
            background-color: #32373c;
            border-radius: 9999px;
            box-shadow: none;
            text-decoration: none;
            padding: calc(.667em + 2px) calc(1.333em + 2px);
            font-size: 1.125em
        }

        .wp-block-file__button {
            background: #32373c;
            color: #fff;
            text-decoration: none
        }
    </style>
    <style id='global-styles-inline-css' type='text/css'>
        body {
            --wp--preset--color--black: #000000;
            --wp--preset--color--cyan-bluish-gray: #abb8c3;
            --wp--preset--color--white: #ffffff;
            --wp--preset--color--pale-pink: #f78da7;
            --wp--preset--color--vivid-red: #cf2e2e;
            --wp--preset--color--luminous-vivid-orange: #ff6900;
            --wp--preset--color--luminous-vivid-amber: #fcb900;
            --wp--preset--color--light-green-cyan: #7bdcb5;
            --wp--preset--color--vivid-green-cyan: #00d084;
            --wp--preset--color--pale-cyan-blue: #8ed1fc;
            --wp--preset--color--vivid-cyan-blue: #0693e3;
            --wp--preset--color--vivid-purple: #9b51e0;
            --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
            --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
            --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
            --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
            --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
            --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
            --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
            --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
            --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
            --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
            --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
            --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
            --wp--preset--font-size--small: 13px;
            --wp--preset--font-size--medium: 20px;
            --wp--preset--font-size--large: 36px;
            --wp--preset--font-size--x-large: 42px;
            --wp--preset--spacing--20: 0.44rem;
            --wp--preset--spacing--30: 0.67rem;
            --wp--preset--spacing--40: 1rem;
            --wp--preset--spacing--50: 1.5rem;
            --wp--preset--spacing--60: 2.25rem;
            --wp--preset--spacing--70: 3.38rem;
            --wp--preset--spacing--80: 5.06rem;
            --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
            --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
            --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
            --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
        }

        :where(.is-layout-flex) {
            gap: 0.5em;
        }

        :where(.is-layout-grid) {
            gap: 0.5em;
        }

        body .is-layout-flow > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-flow > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-flow > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > .alignleft {
            float: left;
            margin-inline-start: 0;
            margin-inline-end: 2em;
        }

        body .is-layout-constrained > .alignright {
            float: right;
            margin-inline-start: 2em;
            margin-inline-end: 0;
        }

        body .is-layout-constrained > .aligncenter {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
            max-width: var(--wp--style--global--content-size);
            margin-left: auto !important;
            margin-right: auto !important;
        }

        body .is-layout-constrained > .alignwide {
            max-width: var(--wp--style--global--wide-size);
        }

        body .is-layout-flex {
            display: flex;
        }

        body .is-layout-flex {
            flex-wrap: wrap;
            align-items: center;
        }

            body .is-layout-flex > * {
                margin: 0;
            }

        body .is-layout-grid {
            display: grid;
        }

            body .is-layout-grid > * {
                margin: 0;
            }

        :where(.wp-block-columns.is-layout-flex) {
            gap: 2em;
        }

        :where(.wp-block-columns.is-layout-grid) {
            gap: 2em;
        }

        :where(.wp-block-post-template.is-layout-flex) {
            gap: 1.25em;
        }

        :where(.wp-block-post-template.is-layout-grid) {
            gap: 1.25em;
        }

        .has-black-color {
            color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-color {
            color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-color {
            color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-color {
            color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-color {
            color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-color {
            color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-color {
            color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-color {
            color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-color {
            color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-color {
            color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-color {
            color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-color {
            color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-background-color {
            background-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-background-color {
            background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-background-color {
            background-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-background-color {
            background-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-background-color {
            background-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-background-color {
            background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-background-color {
            background-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-background-color {
            background-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-background-color {
            background-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-background-color {
            background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-background-color {
            background-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-black-border-color {
            border-color: var(--wp--preset--color--black) !important;
        }

        .has-cyan-bluish-gray-border-color {
            border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
        }

        .has-white-border-color {
            border-color: var(--wp--preset--color--white) !important;
        }

        .has-pale-pink-border-color {
            border-color: var(--wp--preset--color--pale-pink) !important;
        }

        .has-vivid-red-border-color {
            border-color: var(--wp--preset--color--vivid-red) !important;
        }

        .has-luminous-vivid-orange-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-amber-border-color {
            border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
        }

        .has-light-green-cyan-border-color {
            border-color: var(--wp--preset--color--light-green-cyan) !important;
        }

        .has-vivid-green-cyan-border-color {
            border-color: var(--wp--preset--color--vivid-green-cyan) !important;
        }

        .has-pale-cyan-blue-border-color {
            border-color: var(--wp--preset--color--pale-cyan-blue) !important;
        }

        .has-vivid-cyan-blue-border-color {
            border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
        }

        .has-vivid-purple-border-color {
            border-color: var(--wp--preset--color--vivid-purple) !important;
        }

        .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
            background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
        }

        .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
            background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
        }

        .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
        }

        .has-luminous-vivid-orange-to-vivid-red-gradient-background {
            background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
        }

        .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
            background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
        }

        .has-cool-to-warm-spectrum-gradient-background {
            background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
        }

        .has-blush-light-purple-gradient-background {
            background: var(--wp--preset--gradient--blush-light-purple) !important;
        }

        .has-blush-bordeaux-gradient-background {
            background: var(--wp--preset--gradient--blush-bordeaux) !important;
        }

        .has-luminous-dusk-gradient-background {
            background: var(--wp--preset--gradient--luminous-dusk) !important;
        }

        .has-pale-ocean-gradient-background {
            background: var(--wp--preset--gradient--pale-ocean) !important;
        }

        .has-electric-grass-gradient-background {
            background: var(--wp--preset--gradient--electric-grass) !important;
        }

        .has-midnight-gradient-background {
            background: var(--wp--preset--gradient--midnight) !important;
        }

        .has-small-font-size {
            font-size: var(--wp--preset--font-size--small) !important;
        }

        .has-medium-font-size {
            font-size: var(--wp--preset--font-size--medium) !important;
        }

        .has-large-font-size {
            font-size: var(--wp--preset--font-size--large) !important;
        }

        .has-x-large-font-size {
            font-size: var(--wp--preset--font-size--x-large) !important;
        }

        .wp-block-navigation a:where(:not(.wp-element-button)) {
            color: inherit;
        }

        :where(.wp-block-post-template.is-layout-flex) {
            gap: 1.25em;
        }

        :where(.wp-block-post-template.is-layout-grid) {
            gap: 1.25em;
        }

        :where(.wp-block-columns.is-layout-flex) {
            gap: 2em;
        }

        :where(.wp-block-columns.is-layout-grid) {
            gap: 2em;
        }

        .wp-block-pullquote {
            font-size: 1.5em;
            line-height: 1.6;
        }
    </style>
    <link rel='stylesheet' id='parspack-products-css'
          href='/Assets/wp-content/plugins/parspack-products/public/css/parspack-products-public8a54.css?ver=1.0.0'
          type='text/css' media='all' />
    <link rel='stylesheet' id='swiper-css'
          href='/Assets/wp-content/plugins/elementor/assets/lib/swiper/css/swiper.min48f5.css?ver=5.3.6' type='text/css'
          media='all' />
    <link rel='stylesheet' id='enlighterjs-css'
          href='/Assets/wp-content/plugins/enlighter/cache/enlighterjs.mince27.css?ver=3L/TwU+I4TpxpFn' type='text/css'
          media='all' />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <script type='text/javascript' src='/Assets/wp-content/plugins/jquery-updater/js/jquery-3.7.1.minf43b.js?ver=3.7.1'
            id='jquery-core-js'></script>
    <script type='text/javascript' src='/Assets/wp-content/plugins/jquery-updater/js/jquery-migrate-3.4.1.min5589.js?ver=3.4.1'
            id='jquery-migrate-js'></script>
    <script type='text/javascript'
            src='/Assets/wp-content/plugins/parspack-products/public/js/parspack-products-public8a54.js?ver=1.0.0'
            id='parspack-products-js'></script>
    <link rel='shortlink' href='index.html' />
    <style type='text/css'>
        .ae_data .elementor-editor-element-setting {
            display: none !important;
        }
    </style>
    <meta name="generator"
          content="Elementor 3.16.4; features: e_dom_optimization, e_optimized_assets_loading, additional_custom_breakpoints; settings: css_print_method-external, google_font-enabled, font_display-auto">
    <style type="text/css" id="wp-custom-css">
        html {
            scroll-behavior: smooth;
        }

        section.elementor-element-a489b72[data-id="a489b72"] {
            margin-top: -90px;
        }

        /* for page dedicated-servers */
        section.elementor-element-d206f6a[data-id="d206f6a"] .elementor-widget-container > .section {
            padding-bottom: 0;
        }

        @@media (min-width: 1051px) {
            section.elementor-element-d206f6a[data-id="d206f6a"] .card-fig .card-fig__body {
                margin-top: 0;
            }
        }

        section.elementor-element-d206f6a[data-id="d206f6a"] .elementor-widget-container > section.section {
            padding-top: 0;
        }

        /* for page download-host*/
        .page-download-host {
        }

        @@media (min-width: 768px) {
            .page-download-host .elementor-widget-container > .section.section--md1.section--nopadtop {
                margin-top: 55px;
            }
        }

        /* for header fig spasing */
        .section--intro-fig.intro-fig-handle-spase .card-fig__body {
            margin-top: 0;
        }

        .section--intro-fig.intro-fig-handle-spase {
            padding-bottom: 0px;
        }

        /* p-cloud-storage - for spasing serch box */
        section.elementor-element-05d57de[data-id="05d57de"] .elementor-widget-container > .section .block-main {
            margin-top: -35px;
        }

        @@media (min-width: 768px) {
            section.elementor-element-05d57de[data-id="05d57de"] .elementor-widget-container > .section .block-main {
                margin-top: -65px;
            }
        }
    </style>
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff2/iranyekanwebbold.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff/iranyekanwebbold.woff" as="font"
          type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff2/iranyekanweblight.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff/iranyekanweblight.woff" as="font"
          type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff2/iranyekanwebregular.woff2"
          as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/Assets/wp-content/themes/parspack/template/fonts/iranyekan/woff/iranyekanwebregular.woff"
          as="font" type="font/woff" crossorigin="anonymous">

    <link rel="stylesheet" href="/Assets/wp-content/themes/parspack/template/css/main4635.css?v=1698765161">

    <link rel="stylesheet" href="/Assets/wp-content/themes/parspack/template/css/widgets4635.css?v=1698765161">

    <script>var LANG = 'FA';</script>


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KSRL4HW');
    </script>
    <!-- End Google Tag Manager -->

    <script src="../www.google.com/recaptcha/apicfe2.js?hl=fa" async defer></script>

    <script type="application/ld+json">
        {
        "@@ontext": "https://schema.org",
        "@@type": "Organization",
        "name": "جی بار",
        "alternateName": "parspack",
        "url": "https://parspack.com/",
        "logo": "https://parspack.com//Assets/wp-content/themes/parspack/template/images/newlogo/logo_side_blue.png",
        "contactPoint": {
        "@@type": "ContactPoint",
        "telephone": "021 2211 8705",
        "contactType": "customer service",
        "areaServed": "IR",
        "availableLanguage": "Persian"
        },
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "Tehran Province, Tehran, District 2, 35th W Alley",
        "addressLocality": "Teharn",
        "addressRegion": "IR",
        "postalCode": "1998865778",
        "addressCountry": "IR"
        },
        "location": {
        "@@type": "Place",
        "latitude": 35.7248416,
        "longitude": 51.381653
        },
        "sameAs": [
        "https://twitter.com/Parspack",
        "https://www.instagram.com/parspackcom/",
        "https://www.linkedin.com/company/parspack/"
        ]
        }
    </script>
    <noscript>
        <style type="text/css">
            img.lazyload {
                display: none;
            }

            .section-text-shortener .content-container .content {
                max-height: none !important;
                -webkit-mask: none;
                mask: none;
            }
        </style>
    </noscript>

</head>

<body class="parspack-v2" data-views="1K">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSRL4HW" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div class="page page-home">


        <header class="header">
            <div class="header-wrap">
                <a href="index.html" class="header-logo" title="جی بار">
                    <div class="header-logowhite">
                        <img data-loaded="true" src="/Assets/wp-content/themes/parspack/template/images/placeholder.svg"
                             data-src="https://www.jbar.app/images/logo_side_white.png" class="lazyload " alt="جی بار" title="جی بار" width="148" height="60"
                             style="width:148px;height:60px">
                        <noscript style="width: 100%;">
                            <img data-loaded="true"
                                 src="/Assets/wp-content/themes/parspack/template/images/newlogo/logo_side_white.png"
                                 alt="جی بار" title="جی بار" width="148" height="60"
                                 style="width:148px;height:60px">
                        </noscript>
                    </div>

                    <div class="header-logoblue">
                        <img data-loaded="true" src="/Assets/wp-content/themes/parspack/template/images/placeholder.svg"
                             data-src="#" class="lazyload " alt="جی بار" title="جی بار" width="148" height="60"
                             style="width:148px;height:60px">
                        <noscript style="width: 100%;">
                            <img data-loaded="true"
                                 src="/Assets/wp-content/themes/parspack/template/images/newlogo/logo_side_blue.png"
                                 alt="جی بار" title="جی بار" width="148" height="60"
                                 style="width:148px;height:60px">
                        </noscript>
                    </div>

                    <div class="header-title" style="display: none">
                        <h1>جی بار</h1>
                        <div class="header-slide swiper-container">
                            <div class="swiper-wrapper">
                                <span class="swiper-slide">دانش بنیان</span>
                                <span class="swiper-slide">
                                    <svg class="icon icon--parspack">
                                        <use xlink:href="#svg_parspack"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
                <nav class="header-nav">
                    <ul id="menu-mainmenu" class="header-menu">
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                            <a href="/driver"
                               title="راننده">راننده</a>
                            <!--<ul class="header-childmenu">-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="cloud-hosting.html" title="خرید هاست">خرید هاست</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="domain.html" title="خرید دامنه">خرید دامنه</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/high-traffic.html" title="هاست پربازدید">هاست پربازدید</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/linux.html" title="هاست لینوکس">هاست لینوکس</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/wordpress.html" title="هاست وردپرس">هاست وردپرس</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/download-host.html" title="هاست دانلود">هاست دانلود</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/iran.html" title="هاست ایران">هاست ایران</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/reseller.html" title="هاست نمایندگی">هاست نمایندگی</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-hosting/dedicated.html" title="هاست اختصاصی">هاست اختصاصی</a></li>&ndash;&gt;-->
                            <!--</ul>-->
                        </li>
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                            <a href="/panel/login"
                               title="شرکت حمل">
                                شرکت
                                حمل
                            </a>
                            <!--<ul class="header-childmenu">-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-server.html" title="سرور ابری">سرور ابری</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="vps.html" title="سرور مجازی">سرور مجازی</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="vps/iran.html" title="سرور مجازی ایران">سرور مجازی ایران</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="vps/foreign/trade.html" title="سرور مجازی ترید">سرور مجازی ترید</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-server/free-server.html" title="سرور رایگان">سرور رایگان</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page '>
                            <a href="/loadowner" title="صاحب کالا">صاحب کالا</a>
                            <!--<ul class="header-childmenu">-->
                            <!--<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="dedicated-servers.html" title="خرید سرور">خرید سرور</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="hybrid-server.html" title="هایبرید سرور">هایبرید سرور</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="macro-server.html" title="ماکرو سرور">ماکرو سرور</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="dedicated-servers/iran.html" title="سرور اختصاصی ایران">سرور اختصاصی ایران</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page '>
                            <a href="#"
                               title="مجله">مجله</a>
                            <!--<ul class="header-childmenu">-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cdn/site-cdn.html" title="CDN وب سایت">CDN وب سایت</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cdn/file-cdn.html" title="CDN فایل">CDN فایل</a></li>-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cdn/video-cdn.html" title="CDN ویدئو (IPTV)">CDN ویدئو (IPTV)</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                            <a href="#" title="">
                                بازار
                                جی بار
                            </a>
                        </li>
                        <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                            <a href="#"
                               title="پایانه و انجمن">
                                پایانه
                                و انجمن
                            </a>
                            <!--<ul class="header-childmenu">-->
                            <!--<li class=' menu-item menu-item-type-post_type menu-item-object-page'><a href="cloud-storage.html" title="خرید فضای ابری">خرید فضای ابری</a></li>-->
                            <!--<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="cloud-storage/private-cloud.html" title="ابر خصوصی">ابر خصوصی</a></li>-->
                            <!--<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="organization.html#DatabaseCluster" title="کلاستر دیتابیس">کلاستر دیتابیس</a></li>-->
                            <!--<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="organization.html#EnterpriseEmail" title="ایمیل سازمانی">ایمیل سازمانی</a></li>-->
                            <!--<li class=' menu-item menu-item-type-custom menu-item-object-custom'><a href="organization.html#DataCenter" title="فضای دیتاسنتر">فضای دیتاسنتر</a></li>-->
                            <!--</ul>-->
                        </li>
                        <li class=' menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children haschild'>
                            <span>...</span>
                            <ul class="header-childmenu">
                                <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                                    <a href="#"
                                       title="قوانین">قوانین</a>
                                </li>
                                <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                                    <a href="#"
                                       title="گزارش تخلف">
                                        گزارش
                                        تخلف
                                    </a>
                                </li>
                                <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                                    <a href="#" title="ارتباط با ما">ارتباط با ما</a>
                                </li>
                                <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                                    <a href="#" title="درباره ما">درباره ما</a>
                                </li>
                                <li class=' menu-item menu-item-type-post_type menu-item-object-page'>
                                    <a href="#"
                                       title="دعوت به همکاری">
                                        دعوت
                                        به همکاری
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!--		<div class="header-details ">-->
                <!--			-->
                <!--					<a href="https://cl.parspack.com/clpanel/register/sign-up" class="header-btn header-btn-white" rel="nofollow">ثبت نام</a>-->
                <!--			<a href="https://cl.parspack.com/clpanel" target="_blank" class="header-btn header-btn-blue" rel="nofollow">ورود</a>>-->
                <!--					-->
                <!--		</div>-->
                <div class="header-tel-container">
                    <a href="tel:+982126411584" title="پشتیبانی" class="header-tel">
                        <span>۰۲۱۲۶۴۱۱۵۸۴</span>
                        <svg>
                            <use xlink:href="#svg_phone"></use>
                        </svg>
                    </a>
                    <button class="header-navbtn" aria-label="mobile-nav" id="navBtn">
                        <i></i>
                    </button>
                </div>
            </div>
        </header>
        <div class="section section--lg1 section--lowpadtop section--intro" style="display:flex">
            <div class="section-wrap">
                <div class="card-fig card-fig--intro">
                    <div class="card-fig__body">
                        <header class="card-fig__header">
                            <p class="card-fig__title">حمل و نقل</p>
                            <ul class="card-fig__slider">
                                <li>مطمئن‌تر</li>
                                <li>سریع‌تر</li>
                                <li>آسان‌تر</li>
                                <li>ارزان‌تر</li>
                            </ul>

                        </header>
                        <div class="card-fig__desc">
                            <p>
                                با جی بار | بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند باربری‌ها، رانندگان و کارخانجات
                            </p>
                        </div>
                        <div class="card-fig__footer">
                            <button class="btn btn--white">
                                شروع کنید
                                <svg class="svg svg--arrowdown">
                                    <use xlink:href="#svg_arrow-down"></use>
                                </svg>
                            </button>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div data-elementor-type="wp-post" data-elementor-id="319" class="elementor elementor-319">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-fcc84f0 elementor-section-full_width elementor-reverse-tablet elementor-reverse-mobile elementor-hidden-tablet elementor-hidden-mobile elementor-section-height-default elementor-section-height-default"
                     data-id="fcc84f0" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-09ac563 elementor-hidden-tablet elementor-hidden-mobile"
                         data-id="09ac563" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-639daf8 elementor-widget elementor-widget-html"
                                 data-id="639daf8" data-element_type="widget" data-widget_type="html.default">
                                <div class="elementor-widget-container">
                                    <style>
                                        #banner-wordpress-support.banner-wordpress-support {
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-top: 0px;
                                        }

                                            #banner-wordpress-support.banner-wordpress-support .banner-des {
                                            }

                                            #banner-wordpress-support.banner-wordpress-support .banner-mob {
                                                display: none;
                                            }

                                        @@media all and (max-width: 768px) {
                                            #banner-wordpress-support.banner-wordpress-support {
                                                margin-top: 50px;
                                            }

                                                #banner-wordpress-support.banner-wordpress-support .banner-des {
                                                    display: none;
                                                }

                                                #banner-wordpress-support.banner-wordpress-support .banner-mob {
                                                    display: block;
                                                }
                                        }
                                    </style>
                                    <section id="banner-wordpress-support" class="banner-wordpress-support">
                                        <!--    <a href="/Assets/wp-support/index1d72.html?utm_source=website&amp;utm_medium=mainpage&amp;utm_campaign=wpsupport"-->
                                        <!--        class="banner-des">-->
                                        <!--        <img decoding="async" width="988" height="144"-->
                                        <!--            src="/Assets/wp-content/uploads/2023/07/banner-wordpress-support-d.png"-->
                                        <!--            class="attachment-large size-large wp-image-28164" alt="" loading="lazy" srcset="-->
                                        <!--                    https://parspack.com//Assets/wp-content/uploads/2023/07/banner-wordpress-support-d.png         988w,-->
                                        <!--                    https://parspack.com//Assets/wp-content/uploads/2023/07/banner-wordpress-support-d-300x44.png  300w,-->
                                        <!--                    https://parspack.com//Assets/wp-content/uploads/2023/07/banner-wordpress-support-d-768x112.png 768w-->
                                        <!--                " sizes="(max-width: 988px) 100vw, 988px" />-->
                                        <!--    </a>-->
                                        <a href="/Assets/wp-support/index1d72.html?utm_source=website&amp;utm_medium=mainpage&amp;utm_campaign=wpsupport"
                                           class="banner-mob">
                                            <img decoding="async" width="300" height="300"
                                                 src="/Assets/wp-content/uploads/2023/07/banner-wordpress-support-m.png"
                                                 class="attachment-large size-large wp-image-28165" alt="" loading="lazy"
                                                 srcset="
                    https://parspack.com//Assets/wp-content/uploads/2023/07/banner-wordpress-support-m.png         300w,
                    https://parspack.com//Assets/wp-content/uploads/2023/07/banner-wordpress-support-m-150x150.png 150w
                " sizes="(max-width: 300px) 100vw, 300px" />
                                        </a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-a5b008c elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="a5b008c" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c76c05d"
                         data-id="c76c05d" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-03d2d1d elementor-widget elementor-widget-parspack-services-type"
                                 data-id="03d2d1d" data-element_type="widget"
                                 data-widget_type="parspack-services-type.default">
                                <div class="elementor-widget-container">
                                    <article class="section section--md1 bg-grd-blue-ultralight ">
                                        <div class="section-wrap">
                                            <header class="section-header section-header--nomarg">
                                                <h2 class="section-title"> درباره جی بار</h2>
                                                <p class="section-subtitle">
                                                    بزرگترین سامانه اعلام بار سراسری | اتصال هوشمند
                                                    باربری‌ها، رانندگان و کارخانجات
                                                </p>
                                            </header>
                                            <div class="section-body">
                                                <div class="elementor-widget-container">
                                                    <article section--nopadtop">
                                                        <div class="section-wrap">
                                                            <div class="intro intro--content">
                                                                <div class="intro__wrap">

                                                                    <div class="intro__content">
                                                                        <p>
                                                                            شرکت جی بار با افتخار به عنوان یک رهبر در صنعت
                                                                            حمل و نقل جاده‌ای شناخته می‌شود. از ابتدای تأسیس
                                                                            تا کنون، ماموریت ما بر ارتقاء ایمنی و کارایی در
                                                                            حمل و نقل جاده‌ای بر مبنای فناوری و نوآوری است.
                                                                            این اپلیکیشن منحصر به فرد ما برای رانندگان و
                                                                            صاحبان بار امکان مدیریت اسناد و پیگیری حمل‌ونقل
                                                                            را به سادگی فراهم می‌کند.

                                                                        </p></br>

                                                                        <p>
                                                                            شرکت حمل و نقل جاده‌ای جی بار با افتخار ارائه
                                                                            دهنده اپلیکیشن پیشرفته برای رانندگان و صاحبان
                                                                            بار است. این اپلیکیشن معاملات سریع و اثربخش را
                                                                            فراهم می‌کند، به رانندگان این امکان را می‌دهد تا
                                                                            بارهای خود را به سادگی مدیریت کرده و به مشتریان
                                                                            خدمات حمل و نقل با کیفیت ارائه دهند. از طریق این
                                                                            اپلیکیشن، رانندگان می‌توانند بارهای مختلف را
                                                                            بررسی کنند، قیمت‌گذاری دقیق انجام دهند و مسیرهای
                                                                            بهینه را پیدا کنند.
                                                                        </p>

                                                                        <p>
                                                                            </br>

                                                                            علاوه بر این، اپلیکیشن ما به صاحبان بار امکان
                                                                            دسترسی به پایگاه داده‌ای بزرگ از رانندگان
                                                                            حرفه‌ای را می‌دهد تا به راحتی رانندگانی را
                                                                            انتخاب کنند که به نیازهای حمل و نقل خود
                                                                            می‌پوشند. این اپلیکیشن همچنین مسیرهای بهینه و
                                                                            پیشنهادات ترافیکی را نیز فراهم می‌کند تا
                                                                            رانندگان بتوانند به بهترین شکل ممکن به مقصد
                                                                            برسند. با تیم ما و ابزارهای پیشرفته ما، ما به
                                                                            بهبود صنعت حمل و نقل جاده‌ای و تسهیل در ارتباط
                                                                            بین اعضای این صنعت می‌پردازیم تا همه بتوانند از
                                                                            این فرصت‌های هیجان‌انگیز بهره‌برداری کنند

                                                                        </p></br>
                                                                        <p>
                                                                            از جستجوی بار تا پرداخت آسان و امکانات مسیریابی
                                                                            تازه‌ترین فناوری‌ها را جهت بهره‌وری بیشتر به
                                                                            ارمغان می‌آورد. همچنین، رانندگان می‌توانند به
                                                                            راحتی درآمد خود را افزایش دهند و به مشتریان
                                                                            خدمات با کیفیت ارائه دهند. این اپلیکیشن ابزاری
                                                                            قدرتمند برای همگام‌سازی و بهبود ارتباطات در صنعت
                                                                            حمل و نقل جاده‌ای است، و ما افتخار می‌کنیم که به
                                                                            بهبود عملکرد و تجربه تمامی اعضای این صنعت کمک
                                                                            می‌کنیم.
                                                                        </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                                </article>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-ce7495d elementor-widget elementor-widget-parspack-repeater-fig"
                             data-id="ce7495d" data-element_type="widget"
                             data-widget_type="parspack-repeater-fig.default">
                            <div class="elementor-widget-container">
                                <div class="section section--md2">
                                    <div class="section-wrap">
                                        <ul class="card-fig-list">
                                            <li>
                                                <section class="card-fig">
                                                    <div class="row">
                                                        <div class="col-xs-24 col-md-12">
                                                            <div class="card-fig__img">
                                                                <img style="border-radius:30%" decoding="async"
                                                                     src="/Assets/wp-content/plugins/press-elements/assets/placeholder.svg"
                                                                     data-src="/Assets/wp-content/themes/parspack/template/images/driver.jpg"
                                                                     class="lazyload item_382a2fd"
                                                                     alt="اپلیکیشن رانندگان"
                                                                     title="time-matters">

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-24 col-md-12">
                                                            <div class="card-fig__body">
                                                                <header class="card-fig__header">
                                                                    <span class="card-fig__title">اپلیکیشن رانندگان</span>
                                                                </header>
                                                                <div class="card-fig__desc">
                                                                    <p style="text-align: right; font-size: 14px; line-height: 30px;">
                                                                        مشاهده و دسترسی هزاران بار اعلام شده
                                                                        مشاهده بارهای تریلی، اتاق دار(باری)، وانت‌بار، کمپرسی، مسقف و ..
                                                                        دریافت نوتیفیکیشن و پیامک اطلاع از بار بر اساس نوع خودرو و موقعیت مکانی
                                                                        مشاهده‌ی بارهای برگشتی هر اعلام بار
                                                                        مشاهده اطلاعات کامل بار
                                                                    </p>
                                                                </div>
                                                                <div class="card-fig__footer">
                                                                    <a href="/driver"
                                                                       title="شروع کنید"
                                                                       class="btn btn--blue">
                                                                        دانلود اپلیکیشن راننده

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </li>
                                            <li>
                                                <section class="card-fig card-fig--right">
                                                    <div class="row">
                                                        <div class="col-xs-24 col-md-12 col-md-pull-12">
                                                            <div class="card-fig__img">
                                                                <img style="border-radius:30%" decoding="async"
                                                                     src="/Assets/wp-content/plugins/press-elements/assets/placeholder.svg"
                                                                     data-src="/Assets/wp-content/themes/parspack/template/images/owner.jpg"
                                                                     class="lazyload item_7ff5686"
                                                                     alt="اپلیکیشن صاحبین بار"
                                                                     title="support">

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-24 col-md-12 col-md-push-12">
                                                            <div class="card-fig__body">
                                                                <header class="card-fig__header">
                                                                    <span class="card-fig__title">اپلیکیشن صاحبین بار</span>
                                                                </header>
                                                                <div class="card-fig__desc">
                                                                    <p style="text-align: right; font-size: 14px; line-height: 30px;">

                                                                        اعلام بار سریع و هوشمند (ذخیره حالت‌های پر تکرار اعلام بار)
                                                                        دسترسی به بزرگترین جامعه‌ آماری رانندگان ماشین سنگین
                                                                        امکان ردیابی لحظه‌ای رانندگان
                                                                        اطلاع رسانی پیامکی به رانندگان در مبدا بار
                                                                        صدور بارنامه برای بارهای جاده ودریافت کمیسیون آنلاین

                                                                    </p>
                                                                </div>
                                                                <div class="card-fig__footer">
                                                                    <a href="/loadowner"
                                                                       title="شروع کنید"
                                                                       class="btn btn--blue">

                                                                        دانلود اپلیکیشن صاحب بار

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </li>
                                            <li>
                                                <section class="card-fig">
                                                    <div class="row">
                                                        <div class="col-xs-24 col-md-12">
                                                            <div class="card-fig__img">
                                                                <img style="border-radius:30%" decoding="async"
                                                                     src="/Assets/wp-content/plugins/press-elements/assets/placeholder.svg"
                                                                     data-src="/Assets/wp-content/themes/parspack/template/images/driver.jpg"
                                                                     class="lazyload item_382a2fd"
                                                                     alt="پنل لجستیک"
                                                                     title="time-matters">

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-24 col-md-12">
                                                            <div class="card-fig__body">
                                                                <header class="card-fig__header">
                                                                    <span class="card-fig__title">پنل لجستیک</span>
                                                                </header>
                                                                <div class="card-fig__desc">
                                                                    <p style="text-align: right; font-size: 14px; line-height: 30px;">


                                                                        انجام کلیه‌ مراحل حمل بار (یافتن راننده، صدور بارنامه و…)
                                                                        امکان ردیابی بار از لحظه بارگیری تا تخلیه در مقصد مورد نظر
                                                                        تخصیص اعتبار توسط بانک تجارت به صاحبین کالا برای پرداخت کرایه
                                                                        دسترسی به پنل مدیریتی و امکان تهیه‌ انواع گزارشات
                                                                        تسریع در فرآیند حمل بار
                                                                        ارتباط هوشمند و مکانیزه با شرکت حمل‌ونقل و راننده
                                                                        قیمت‌گذاری غیردستوری، بر اساس توافق طرفین





                                                                    </p>
                                                                </div>
                                                                <div class="card-fig__footer">
                                                                    <a href="/panel/login"
                                                                       title="شروع کنید"
                                                                       class="btn btn--blue">
                                                                        ورود به پنل لجستیک

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>

    </div>




    <div class="copy-right text-center">
        <p>کلیه حقوق برای <a href="index.html" title="جی بار">جی بار</a> محفوظ می باشد.</p>
        <p class="ltr text-center">
            Copyright &copy; 2023<a href="" title="jbar"> jbar </a> Cloud
            Computing Technology ® , All Rights Reserved.
        </p>
    </div>




    </div>

    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/Assets/wp-content/themes/parspack/template/js/homef0dd.js?v=1698764351"></script>

    <script type='text/javascript' src='/Assets/wp-content/plugins/enlighter/cache/enlighterjs.mince27.js?ver=3L/TwU+I4TpxpFn'
            id='enlighterjs-js'></script>
    <script id="enlighterjs-js-after" type="text/javascript">
        !function (e, n) {
            if ("undefined" != typeof EnlighterJS) {
                var o = {
                    "selectors": { "block": "pre.EnlighterJSRAW", "inline": "code.EnlighterJSRAW" },
                    "options": {
                        "indent": 4,
                        "ampersandCleanup": true,
                        "linehover": true,
                        "rawcodeDbclick": false,
                        "textOverflow": "break",
                        "linenumbers": true,
                        "theme": "enlighter",
                        "language": "enlighter",
                        "retainCssClasses": false,
                        "collapse": false,
                        "toolbarOuter": "",
                        "toolbarTop": "{BTN_RAW}{BTN_COPY}{BTN_WINDOW}{BTN_WEBSITE}",
                        "toolbarBottom": ""
                    }
                };
                (e.EnlighterJSINIT = function () {
                    EnlighterJS.init(o.selectors.block, o.selectors.inline, o.options)
                })()
            } else {
                (n && (n.error || n.log) || function () {
                })("Error: EnlighterJS resources not loaded yet!")
            }
        }(window, console);
    </script>

    <!-- START Chatstack Live Chat HTML Code - chatstack.com  -->
    @*<script type="text/javascript">
        var version = '103';
        var Chatstack;
        try {
            $(document).ready(function () {
                $(document).one('click touchstart mousemove', 'body', function () {
                    Chatstack = { server: 'newchat.parspack.com' };
                    (function (d, undefined) {
                        Chatstack.e = [];
                        Chatstack.ready = function (c) {
                            Chatstack.e.push(c);
                        }
                        var b = d.createElement('script');
                        b.type = 'text/javascript';
                        b.async = true;
                        b.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + Chatstack.server + '/livehelp/scripts/js.min.js' + '?ver=' + version;
                        var s = d.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(b, s);
                    })(document);
                });
            });
        } catch (error) {
            console.error('Chat Error', error);
        }

    </script>*@
    <!-- END Chatstack Live Chat HTML Code - chatstack.com  -->


</body>

<!-- Mirrored from parspack.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Nov 2023 07:27:27 GMT -->
</html>
