


@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font.css" rel="stylesheet" />
<style>
    .helpTitle {
        margin: 30px 0;
        text-align: center
    }

    .triggerParent {
        background-color: #eee;
        height: 100vh;
        padding: 25px;
    }

    .btnTrigger {
        border: 1px solid #4d4d4d;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 5px;
        background-color: #a06509;
        color: white;
    }
</style>
<div class="triggerParent">
    <h2 class="helpTitle" style="">پشتیبانی جی بار</h2>
    <div class="btnTrigger">تماس </div>
    <div class="btnTrigger">پیام رسان</div>

</div>


<script>

</script>
<!---start GOFTINO code--->
<script type="text/javascript">
    !function () { var i = "ZyCmSJ", a = window, d = document; function g() { var g = d.createElement("script"), s = "https://www.goftino.com/widget/" + i, l = localStorage.getItem("goftino_" + i); g.async = !0, g.src = l ? s + "?o=" + l : s; d.getElementsByTagName("head")[0].appendChild(g); } "complete" === d.readyState ? g() : a.attachEvent ? a.attachEvent("onload", g) : a.addEventListener("load", g, !1); }();
</script>
<!---end GOFTINO code--->